  <!-- Welcome section  -->
  
  <section class="py-5 bg-dark text-light"id="Home">
    <div class="container ">
        <div class="row align-items-center">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <img src="images/Issue.gif" alt="Issue Tracker Image" class="img-fluid rounded">
            </div>
            <div class="col-lg-6">
                <h2 class="mb-4">Welcome to Issue Tracker App</h2>
                <p class="lead">A Nodejs + Ejs  application to track issues/bugs for a project.MongoDB is used as a DataBase to store the data.We can Create Projects and mark the Issue of the Projects.</p>
            </div>
        </div>
    </div>
</section>
<!-- End of Welcome section -->

<!-- Project Section -->

<section class="py-5 bg-light bg-gradient"id="Projects">
  <div class="container">
      <h3 class="text-center mb-4 bg-dark bg-gradient text-light p-2">Project Showcase</h3>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
          <!-- Project Card -->
          <%projects.forEach(project=>{%>
            <div class="col">
                <div class="card h-100 border border-dark-subtle">
                    <div class="card-body">
                        <h5 class="card-title"><%=project.pName%></h5>
                        <p class="card-text"><%=project.description%></p>
                        <p class="card-text"><small class="text-muted">Author: <%=project.author%></small></p>
                        <span class="d-flex align-items-center justify-content-end"><a  href ="/projectDetails/<%=project.id%>" type="button"class="btn btn-primary">View Project</a></span> 
                    </div>
                </div>
            </div>
            <%})%>
        </div>
    </div>
</section>